<html>
<head>
<style>
img {
   width: 100%;
}
</style>
<title>
   {{ title }}
</title>
</head>
<body bgcolor = white>
<a name="{{ title }}">
<h3>
   Section {{ major }}.{{ minor }} - {{ title }}
</h3>
</a>

{% if entries %}
{% for entry in entries %}
<p>{{ entry.description | safe }}

<br>
<br>
<hr>
<a name="{{ entry.title }}">
<p align=center>
<img src="images/fig_{{ major }}_{{ minor }}_{{ loop.index }}.png">
</p>
<p align=center> Figure {{ major }}.{{ minor }}.{{ loop.index }}:  {{ entry.caption }}  </p>
<hr>
</a>
<br>
{% endfor %}
{% else %}
{{ content }}
{% endif %}
<br>
<br>
<br>
<br>
<hr width=80% size=3>
<center>
<font size=-1>
   <font color=black> Prev: </font>{% if prev_file %}<a href="./{{ prev_file }}">{{ prev_name }}</a>{% else %} NONE {% endif %}
| <font color=black> Next: </font>{% if prev_file %}<a href="./{{ next_file }}">{{ next_name }}</a>{% else %} NONE {% endif %}
 | <font color=black> Up: </font>{% if topic_file %}<a href="./{{ topic_file }}">{{ topic_name }}</a>{% else %} NONE {% endif %}
 | <font color=black> Top: </font><a href="index.html">index</a></font>
</center>
<hr width=80% size=3>
</body>
</html>
